*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper .carousel{
	cursor: pointer;
	white-space: nowrap;
	font-size: 0px;
	overflow: hidden;
	margin-top: 20px;
	scroll-behavior: smooth;
}

.carousel.dragging img{
	pointer-events: none;
}
.carousel.dragging{
	cursor: none;
	scroll-behavior: auto;
}
.wrapper{
	max-width: 1200px;
	position: relative;
	margin-left: 15px;
}
.wrapper i{
	height: 40px;
	width: 40px;
	background-color: #8481F4;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 30%;
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
	z-index: 5;
	color: #6F040B;
}
.wrapper i:first-child{
	left: -5px;
	display: none;
}
.wrapper i:last-child{
	right: -15px;
}
.carousel img{
	height: 350px;
	object-fit: cover;
	margin-left: 14px;
	width: calc(100% / 3);
}
@media screen and (max-width: 900px){
	.carousel img{
		width: calc(100% / 2);
	}
}
@media screen and (max-width: 600px){
	.carousel img{
		width: 100%;
		height: 550px;
	}
}
